/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    background-color: #f6f8f9;
}

header {
    background-color: white;
    height: 50px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 70px;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

#logo-toboolist {
   height: 50px; 
   line-height: 50px;
   
}

#logo-toboolist h1  {
    display: inline-block;
    vertical-align: middle;
}

#logo-img{
    height: 60px;
    vertical-align: middle;
}

/* .header {
    height: 80px;
    line-height: 80px;
} */

/* #logo-img {
    height: 60px;
    vertical-align: middle;
}

.logo-toboolist span {
    vertical-align: middle;
} */

.container-box {
    background-color: white;
    width: 70%;
    border: 1px solid white;
    border-radius: 5px 5px 0 0;
    text-align: left;
    font-size: 1rem;    
}

.container-box.margin {
    margin: 5% auto;
    margin-bottom: 3px;
    margin-top: 3px;
}

#button-nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.button {
    border: none;
    border-radius: 8px;
    color: white;
    padding: 5px 15px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 0.8rem;
    margin: 4px 2px;
    cursor: pointer;
}

.button.add-task{
    background-color:#45abea;; /* Green */  
}

.button.add-selection {
    background-color: white;
    border: 1px solid grey;
    color: grey;
}

.padding-left {
    padding-left: 30px;
    /* margin-left: 60px; */
}

.container-box ul {
    list-style-position: inside;
    list-style-type: none;
}

.task {
    margin-top: 20px;
    margin-bottom: 40px;
}

li {
    padding: 0.8rem;
}

.icon-green {
    border: 2px solid green;
    border-radius: 50%;
    color: green;
    /* width: 20px; */
    /* background-color: aqua; */
    
    margin-right: 10px;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.1rem;
    text-align: center;
}

/*
    display: inline-block;
    background-color: orange;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center; */


.icon-red {
    border: 2px solid red;
    border-radius: 50%;
    color: red;
    /* width: 20px; */
    /* background-color: aqua; */
    margin-right: 10px;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.1rem;
    text-align: center;
}

.tags {
    border-radius: 30px;
    color: rgb(255, 255, 255);
    padding: 4px;
    font-size: 0.7rem;
}

.editorial {
    border: 2px solid#45abea;
    background-color: #45abea;  
}

.q1-goals {
    border: 2px solid #9c72e4;
    background-color: #9c72e4;   
}

.recruiting {
    border: 2px solid #64c0a9;
    background-color: #64c0a9;  
}

.mobile {
    border: 2px solid #f29e33;
    background-color: #f29e33;   
}

.website {
    border: 2px solid #d863a1;
    background-color: #d863a1;   
}

.sales {
    border: 2px solid #b0c926;
    background-color: #b0c926;
}


